/* .poster{
    object-fit: cover;
  height: 350px;
}
.fullInfo{
    display: flex;
  flex-direction: column;
  padding: 20px 30px;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}

.full{
    display: flex;
  flex-direction: column;
} */